
.data{

    text-align: center;
    color: antiquewhite;
    padding: 15px;
    font-size: 25px;
   
}

.btn-outline-warning{
    display: none;
    margin-right: 10px;
}
.show{
    display: flex;
}
body{
  background-image: url("../images/bg.jpg");
  background-attachment:fixed;
  background-size:cover;

}

label{
  color: bisque;
  font-size: 30px;
  margin: auto;
 
  
}
.form-control{
  width: 75%;
  margin: auto;
}
.overlay{
  
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
