.data{
    position: relative;
  }
  .data h4{
      position: absolute;
      top: 0;
      right: 15px;
      padding: 15px;
      background-color:blueviolet;
  }
  .btn-outline-warning{
      display: none;
      margin-right: 10px;
  }
  .show{
      display: flex;
  }